@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto/Roboto-Black.ttf') format('ttf'),
    url('../assets/Roboto/Roboto-BlackItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #60a5fa;
}

.site {
display: grid;
grid-template-columns: 200px minmax(85%, 900px) ;
grid-template-rows: 100px minmax(100%, 1050px);
}

.navbar {
  height: 150px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.navbarList {
display: flex;
justify-content: space-around;
list-style: none;
width: 400px;
}

.navbarList li {
  background-color: #dbeafe;
  padding: 5px 15px 5px 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.navbarList li:hover {
  cursor: pointer;
}

.sidebar{
width: 140px;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
}

.sidebarList {
display: flex;
flex-direction: column;
justify-content: space-around;
list-style: none;
padding-left: 0;
margin-left: 8px;
}

.sidebarList li {
  background-color: #dbeafe;
  padding: 5px 15px 5px 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.sidebarList li:hover {
  cursor: pointer;
}



#projects {
  padding: 0;
}

#projects li{
  list-style: none;
  background-color: #eff6ff;
  padding: 5px 15px 5px 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.content {
  font-family: 'Roboto';
  background-color: #bfdbfe;
  border: 2px solid black;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}



.addTask:hover {
  cursor: pointer;
}

.divForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}

#submitForm:hover {
  cursor: pointer;
}

#submitForm {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}


form {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 25px 25px 25px 25px;
  gap: 5px;
  padding: 15px;
  width: 620px;
  justify-content: space-between;
  border: 2px solid black;
  background-color: #93c5fd;

}

.cardEditForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.projectContainer {
  border: 2px solid black;
  background-color: #93c5fd;
  padding: 15px;
  width: 620px;
  text-align: center;
}


.tasks {
  display: grid;
  grid-template-columns: 190px 190px 190px 190px 190px;
  justify-content: center;
width: minmax(100%, 978px);
border-top: 2px black solid;
padding: 10px;
}

.card {
  background-color: #2dd4bf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 3px;
  margin: 5px;
  border: 2px white solid;
  z-index: 1;
}

.cardPriority {
  width: 10px;
  height: 15px;
  border-radius: 3px;
}