@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto-Black.ttf') format('ttf'),
    url('./Roboto/Roboto-BlackItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: darkgray;
}

.site {
display: grid;
grid-template-columns: 100px 1000px;
grid-template-rows: 50px 1050px;
}

.navbar {
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.navbarList {
display: flex;
justify-content: space-around;
list-style: none;
}

.sidebar{
width: 100px;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
}

.sidebarList {
display: flex;
flex-direction: column;
justify-content: space-around;
list-style: none;
}

.content {
  font-family: 'Roboto';
  background-color: gray;
  border: 2px solid black;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.addTask {
  color: white;
  background-color: green;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  text-align: center;
}

.addTask:hover {
  cursor: pointer;
}

.divForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  
}

#submitForm:hover {
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 25px 25px 25px;
  gap: 5px;
  padding: 5px;
  width: 620px;
  justify-content: space-between;
  border: 2px solid black;
}

.tasks {
  display: grid;
  grid-template-columns: 190px 190px 190px 190px;
width: 978px;
border-top: 2px black solid;
padding: 10px;
}

.card {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  padding: 3px;
  margin: 5px;
  border: 2px white solid;
}